.game-container {
  padding: 0;
  top: 0;
  left: 0;
}

.game-canvas {
  margin: auto;
  display: block;
}

.card {
  text-align: center;
  display: inline;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(82, 85, 75, 0.4);
}

.players-panel {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  left: 0;
}

.center-screen {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.error-panel {
  border: 3px solid #d61111;
  background-color: #e74949;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px;
}

.text-box {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #909090;
}