
.playback-controller {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.playback-controller button {
  margin: 0 10px;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
}